body{
    margin:2;
    font-family: 'Helvetica', Sans-serif;	
}

table,td, th{
    border:1px solid gray;
}
td,th{
    padding:5px;
}
table{
    border-collapse: collapse;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
a{
    color: darkgray;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 150%;
}
a:hover{
    color:lightgreen;
}
ul{
    list-style-type: none;
    color: darkgray;
    text-decoration: none;
    font-size: 120%;
}
li{
    padding-bottom: 3px;
}
label{
    position: relative;
    display: inline-block;
}
.error{
    position: absolute;
    top:100%;
    font-size: 0.8em;
}
.delete-form, .edit-form{
    display: inline-block;
}
.post{
    font-size: 120%;
}
.kolekt{
    color: black;
    font-size: 100%;
}